/**
 * Profound Grid
 * 
 * Built in Sass (SCSS) this responsive/adaptive grid supports both fixed and fluid layouts, 
 * relative and fixed gutters, as well as your choice of semantic markup or generic '.grid-x' classes.
 * 
 * The biggest difference to other grid systems is the use of negative margins for column
 * placements, avoiding the subpixel rounding issues that usually break/uglify fluid layouts
 * in some browsers.
 * 
 * Nested columns are supported too, without having to reset the grid on each level. 
 *
 * Credits/Inspiration:
 * -------------------
 * Semantic Grid: http://www.semantic.gs
 * Susy: http://susy.oddbird.net
 * Negative Grid: http://chrisplaneta.com/freebies/negativegrid-fluid-css-grid-by-chris-planeta/
 *
 * @author Profound Creative Studio
 * @url http://www.profoundgrid.com
 * @url http://www.weareprofound.com 
 */
/**
 * Clearfix
 */
/**
 * Legacy Clearfix
 */
/**
 * Establish the grid-containing element.
 */
/**
 * Align an element to the grid.
 */
/**
 * Apply to any column to make it the last one of the current row.
 */
/**
 * Dh 20140318 add easyui control support
 */
.col1, .col2, .col3, .col4, .col5, .col6, .col7, .col8, .col9, .col10, .col11, .col12 {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
}

.dh-form {
  /* Helper Class: Container */
}
.dh-form .row {
  margin: 0 0;
  clear: both;
  /* Helper Class: Columns */
  /* Helper Class: Horizontal Position */
}
.dh-form .row .col1 {
  float: left;
  width: 59px;
}
.dh-form .row .col1 .easyui-uc_validatebox {
  width: 59px;
}
.dh-form .row .col1 .easyui-uc_combo {
  width: 59px;
}
.dh-form .row .col1 .easyui-uc_combobox {
  width: 59px;
}
.dh-form .row .col1 .easyui-uc_combogrid {
  width: 59px;
}
.dh-form .row .col1 .easyui-uc_combotree {
  width: 59px;
}
.dh-form .row .col1 .easyui-uc_listbox {
  width: 59px;
}
.dh-form .row .col1 .easyui-uc_numberspinner {
  width: 59px;
}
.dh-form .row .col1 .easyui-uc_percent {
  width: 59px;
}
.dh-form .row .col1 .easyui-uc_dollar {
  width: 59px;
}
.dh-form .row .col1 .easyui-uc_datebox {
  width: 59px;
}
.dh-form .row .col1 .easyui-uc_dateRange {
  width: 59px;
}
.dh-form .row .col1 .easyui-uc_combobox_m {
  width: 59px;
}
.dh-form .row .col1 .easyui-uc_datetimebox {
  width: 59px;
}
.dh-form .row .col1 .easyui-uc_form {
  width: 59px;
}
.dh-form .row .col1 .easyui-uc_linkbutton {
  width: 59px;
}
.dh-form .row .col1 .easyui-uc_menu {
  width: 59px;
}
.dh-form .row .col1 .easyui-uc_menubutton {
  width: 59px;
}
.dh-form .row .col1 .easyui-uc_numberbox {
  width: 59px;
}
.dh-form .row .col1 .easyui-uc_pickbox {
  width: 59px;
}
.dh-form .row .col1 .easyui-uc_searchbox {
  width: 59px;
}
.dh-form .row .col1 .easyui-uc_spinner {
  width: 59px;
}
.dh-form .row .col1 .easyui-uc_splitbutton {
  width: 59px;
}
.dh-form .row .col1 .easyui-uc_timespinner {
  width: 59px;
}
.dh-form .row .col1 .easyui-uc_tree {
  width: 59px;
}
.dh-form .row .col1 .easyui-uc_treegrid {
  width: 59px;
}
.dh-form .row .col1 .easyui-uc_datagrid {
  width: 59px;
}
.dh-form .row .col1 .easyui-uc_checkboxs {
  width: 59px;
}
.dh-form .row .col1 .easyui-uc_textbox {
  width: 59px;
}
.dh-form .row .col1 .easyui-uc_fuzzybox {
  width: 59px;
}
.dh-form .row .col2 {
  float: left;
  width: 137px;
}
.dh-form .row .col2 .easyui-uc_validatebox {
  width: 137px;
}
.dh-form .row .col2 .easyui-uc_combo {
  width: 137px;
}
.dh-form .row .col2 .easyui-uc_combobox {
  width: 137px;
}
.dh-form .row .col2 .easyui-uc_combogrid {
  width: 137px;
}
.dh-form .row .col2 .easyui-uc_combotree {
  width: 137px;
}
.dh-form .row .col2 .easyui-uc_listbox {
  width: 137px;
}
.dh-form .row .col2 .easyui-uc_numberspinner {
  width: 137px;
}
.dh-form .row .col2 .easyui-uc_percent {
  width: 137px;
}
.dh-form .row .col2 .easyui-uc_dollar {
  width: 137px;
}
.dh-form .row .col2 .easyui-uc_datebox {
  width: 137px;
}
.dh-form .row .col2 .easyui-uc_dateRange {
  width: 137px;
}
.dh-form .row .col2 .easyui-uc_combobox_m {
  width: 137px;
}
.dh-form .row .col2 .easyui-uc_datetimebox {
  width: 137px;
}
.dh-form .row .col2 .easyui-uc_form {
  width: 137px;
}
.dh-form .row .col2 .easyui-uc_linkbutton {
  width: 137px;
}
.dh-form .row .col2 .easyui-uc_menu {
  width: 137px;
}
.dh-form .row .col2 .easyui-uc_menubutton {
  width: 137px;
}
.dh-form .row .col2 .easyui-uc_numberbox {
  width: 137px;
}
.dh-form .row .col2 .easyui-uc_pickbox {
  width: 137px;
}
.dh-form .row .col2 .easyui-uc_searchbox {
  width: 137px;
}
.dh-form .row .col2 .easyui-uc_spinner {
  width: 137px;
}
.dh-form .row .col2 .easyui-uc_splitbutton {
  width: 137px;
}
.dh-form .row .col2 .easyui-uc_timespinner {
  width: 137px;
}
.dh-form .row .col2 .easyui-uc_tree {
  width: 137px;
}
.dh-form .row .col2 .easyui-uc_treegrid {
  width: 137px;
}
.dh-form .row .col2 .easyui-uc_datagrid {
  width: 137px;
}
.dh-form .row .col2 .easyui-uc_checkboxs {
  width: 137px;
}
.dh-form .row .col2 .easyui-uc_textbox {
  width: 137px;
}
.dh-form .row .col2 .easyui-uc_fuzzybox {
  width: 137px;
}
.dh-form .row .col3 {
  float: left;
  width: 215px;
}
.dh-form .row .col3 .easyui-uc_validatebox {
  width: 215px;
}
.dh-form .row .col3 .easyui-uc_combo {
  width: 215px;
}
.dh-form .row .col3 .easyui-uc_combobox {
  width: 215px;
}
.dh-form .row .col3 .easyui-uc_combogrid {
  width: 215px;
}
.dh-form .row .col3 .easyui-uc_combotree {
  width: 215px;
}
.dh-form .row .col3 .easyui-uc_listbox {
  width: 215px;
}
.dh-form .row .col3 .easyui-uc_numberspinner {
  width: 215px;
}
.dh-form .row .col3 .easyui-uc_percent {
  width: 215px;
}
.dh-form .row .col3 .easyui-uc_dollar {
  width: 215px;
}
.dh-form .row .col3 .easyui-uc_datebox {
  width: 215px;
}
.dh-form .row .col3 .easyui-uc_dateRange {
  width: 215px;
}
.dh-form .row .col3 .easyui-uc_combobox_m {
  width: 215px;
}
.dh-form .row .col3 .easyui-uc_datetimebox {
  width: 215px;
}
.dh-form .row .col3 .easyui-uc_form {
  width: 215px;
}
.dh-form .row .col3 .easyui-uc_linkbutton {
  width: 215px;
}
.dh-form .row .col3 .easyui-uc_menu {
  width: 215px;
}
.dh-form .row .col3 .easyui-uc_menubutton {
  width: 215px;
}
.dh-form .row .col3 .easyui-uc_numberbox {
  width: 215px;
}
.dh-form .row .col3 .easyui-uc_pickbox {
  width: 215px;
}
.dh-form .row .col3 .easyui-uc_searchbox {
  width: 215px;
}
.dh-form .row .col3 .easyui-uc_spinner {
  width: 215px;
}
.dh-form .row .col3 .easyui-uc_splitbutton {
  width: 215px;
}
.dh-form .row .col3 .easyui-uc_timespinner {
  width: 215px;
}
.dh-form .row .col3 .easyui-uc_tree {
  width: 215px;
}
.dh-form .row .col3 .easyui-uc_treegrid {
  width: 215px;
}
.dh-form .row .col3 .easyui-uc_datagrid {
  width: 215px;
}
.dh-form .row .col3 .easyui-uc_checkboxs {
  width: 215px;
}
.dh-form .row .col3 .easyui-uc_textbox {
  width: 215px;
}
.dh-form .row .col3 .easyui-uc_fuzzybox {
  width: 215px;
}
.dh-form .row .col4 {
  float: left;
  width: 294px;
}
.dh-form .row .col4 .easyui-uc_validatebox {
  width: 294px;
}
.dh-form .row .col4 .easyui-uc_combo {
  width: 294px;
}
.dh-form .row .col4 .easyui-uc_combobox {
  width: 294px;
}
.dh-form .row .col4 .easyui-uc_combogrid {
  width: 294px;
}
.dh-form .row .col4 .easyui-uc_combotree {
  width: 294px;
}
.dh-form .row .col4 .easyui-uc_listbox {
  width: 294px;
}
.dh-form .row .col4 .easyui-uc_numberspinner {
  width: 294px;
}
.dh-form .row .col4 .easyui-uc_percent {
  width: 294px;
}
.dh-form .row .col4 .easyui-uc_dollar {
  width: 294px;
}
.dh-form .row .col4 .easyui-uc_datebox {
  width: 294px;
}
.dh-form .row .col4 .easyui-uc_dateRange {
  width: 294px;
}
.dh-form .row .col4 .easyui-uc_combobox_m {
  width: 294px;
}
.dh-form .row .col4 .easyui-uc_datetimebox {
  width: 294px;
}
.dh-form .row .col4 .easyui-uc_form {
  width: 294px;
}
.dh-form .row .col4 .easyui-uc_linkbutton {
  width: 294px;
}
.dh-form .row .col4 .easyui-uc_menu {
  width: 294px;
}
.dh-form .row .col4 .easyui-uc_menubutton {
  width: 294px;
}
.dh-form .row .col4 .easyui-uc_numberbox {
  width: 294px;
}
.dh-form .row .col4 .easyui-uc_pickbox {
  width: 294px;
}
.dh-form .row .col4 .easyui-uc_searchbox {
  width: 294px;
}
.dh-form .row .col4 .easyui-uc_spinner {
  width: 294px;
}
.dh-form .row .col4 .easyui-uc_splitbutton {
  width: 294px;
}
.dh-form .row .col4 .easyui-uc_timespinner {
  width: 294px;
}
.dh-form .row .col4 .easyui-uc_tree {
  width: 294px;
}
.dh-form .row .col4 .easyui-uc_treegrid {
  width: 294px;
}
.dh-form .row .col4 .easyui-uc_datagrid {
  width: 294px;
}
.dh-form .row .col4 .easyui-uc_checkboxs {
  width: 294px;
}
.dh-form .row .col4 .easyui-uc_textbox {
  width: 294px;
}
.dh-form .row .col4 .easyui-uc_fuzzybox {
  width: 294px;
}
.dh-form .row .col5 {
  float: left;
  width: 372px;
}
.dh-form .row .col5 .easyui-uc_validatebox {
  width: 372px;
}
.dh-form .row .col5 .easyui-uc_combo {
  width: 372px;
}
.dh-form .row .col5 .easyui-uc_combobox {
  width: 372px;
}
.dh-form .row .col5 .easyui-uc_combogrid {
  width: 372px;
}
.dh-form .row .col5 .easyui-uc_combotree {
  width: 372px;
}
.dh-form .row .col5 .easyui-uc_listbox {
  width: 372px;
}
.dh-form .row .col5 .easyui-uc_numberspinner {
  width: 372px;
}
.dh-form .row .col5 .easyui-uc_percent {
  width: 372px;
}
.dh-form .row .col5 .easyui-uc_dollar {
  width: 372px;
}
.dh-form .row .col5 .easyui-uc_datebox {
  width: 372px;
}
.dh-form .row .col5 .easyui-uc_dateRange {
  width: 372px;
}
.dh-form .row .col5 .easyui-uc_combobox_m {
  width: 372px;
}
.dh-form .row .col5 .easyui-uc_datetimebox {
  width: 372px;
}
.dh-form .row .col5 .easyui-uc_form {
  width: 372px;
}
.dh-form .row .col5 .easyui-uc_linkbutton {
  width: 372px;
}
.dh-form .row .col5 .easyui-uc_menu {
  width: 372px;
}
.dh-form .row .col5 .easyui-uc_menubutton {
  width: 372px;
}
.dh-form .row .col5 .easyui-uc_numberbox {
  width: 372px;
}
.dh-form .row .col5 .easyui-uc_pickbox {
  width: 372px;
}
.dh-form .row .col5 .easyui-uc_searchbox {
  width: 372px;
}
.dh-form .row .col5 .easyui-uc_spinner {
  width: 372px;
}
.dh-form .row .col5 .easyui-uc_splitbutton {
  width: 372px;
}
.dh-form .row .col5 .easyui-uc_timespinner {
  width: 372px;
}
.dh-form .row .col5 .easyui-uc_tree {
  width: 372px;
}
.dh-form .row .col5 .easyui-uc_treegrid {
  width: 372px;
}
.dh-form .row .col5 .easyui-uc_datagrid {
  width: 372px;
}
.dh-form .row .col5 .easyui-uc_checkboxs {
  width: 372px;
}
.dh-form .row .col5 .easyui-uc_textbox {
  width: 372px;
}
.dh-form .row .col5 .easyui-uc_fuzzybox {
  width: 372px;
}
.dh-form .row .col6 {
  float: left;
  width: 450px;
}
.dh-form .row .col6 .easyui-uc_validatebox {
  width: 450px;
}
.dh-form .row .col6 .easyui-uc_combo {
  width: 450px;
}
.dh-form .row .col6 .easyui-uc_combobox {
  width: 450px;
}
.dh-form .row .col6 .easyui-uc_combogrid {
  width: 450px;
}
.dh-form .row .col6 .easyui-uc_combotree {
  width: 450px;
}
.dh-form .row .col6 .easyui-uc_listbox {
  width: 450px;
}
.dh-form .row .col6 .easyui-uc_numberspinner {
  width: 450px;
}
.dh-form .row .col6 .easyui-uc_percent {
  width: 450px;
}
.dh-form .row .col6 .easyui-uc_dollar {
  width: 450px;
}
.dh-form .row .col6 .easyui-uc_datebox {
  width: 450px;
}
.dh-form .row .col6 .easyui-uc_dateRange {
  width: 450px;
}
.dh-form .row .col6 .easyui-uc_combobox_m {
  width: 450px;
}
.dh-form .row .col6 .easyui-uc_datetimebox {
  width: 450px;
}
.dh-form .row .col6 .easyui-uc_form {
  width: 450px;
}
.dh-form .row .col6 .easyui-uc_linkbutton {
  width: 450px;
}
.dh-form .row .col6 .easyui-uc_menu {
  width: 450px;
}
.dh-form .row .col6 .easyui-uc_menubutton {
  width: 450px;
}
.dh-form .row .col6 .easyui-uc_numberbox {
  width: 450px;
}
.dh-form .row .col6 .easyui-uc_pickbox {
  width: 450px;
}
.dh-form .row .col6 .easyui-uc_searchbox {
  width: 450px;
}
.dh-form .row .col6 .easyui-uc_spinner {
  width: 450px;
}
.dh-form .row .col6 .easyui-uc_splitbutton {
  width: 450px;
}
.dh-form .row .col6 .easyui-uc_timespinner {
  width: 450px;
}
.dh-form .row .col6 .easyui-uc_tree {
  width: 450px;
}
.dh-form .row .col6 .easyui-uc_treegrid {
  width: 450px;
}
.dh-form .row .col6 .easyui-uc_datagrid {
  width: 450px;
}
.dh-form .row .col6 .easyui-uc_checkboxs {
  width: 450px;
}
.dh-form .row .col6 .easyui-uc_textbox {
  width: 450px;
}
.dh-form .row .col6 .easyui-uc_fuzzybox {
  width: 450px;
}
.dh-form .row .col7 {
  float: left;
  width: 529px;
}
.dh-form .row .col7 .easyui-uc_validatebox {
  width: 529px;
}
.dh-form .row .col7 .easyui-uc_combo {
  width: 529px;
}
.dh-form .row .col7 .easyui-uc_combobox {
  width: 529px;
}
.dh-form .row .col7 .easyui-uc_combogrid {
  width: 529px;
}
.dh-form .row .col7 .easyui-uc_combotree {
  width: 529px;
}
.dh-form .row .col7 .easyui-uc_listbox {
  width: 529px;
}
.dh-form .row .col7 .easyui-uc_numberspinner {
  width: 529px;
}
.dh-form .row .col7 .easyui-uc_percent {
  width: 529px;
}
.dh-form .row .col7 .easyui-uc_dollar {
  width: 529px;
}
.dh-form .row .col7 .easyui-uc_datebox {
  width: 529px;
}
.dh-form .row .col7 .easyui-uc_dateRange {
  width: 529px;
}
.dh-form .row .col7 .easyui-uc_combobox_m {
  width: 529px;
}
.dh-form .row .col7 .easyui-uc_datetimebox {
  width: 529px;
}
.dh-form .row .col7 .easyui-uc_form {
  width: 529px;
}
.dh-form .row .col7 .easyui-uc_linkbutton {
  width: 529px;
}
.dh-form .row .col7 .easyui-uc_menu {
  width: 529px;
}
.dh-form .row .col7 .easyui-uc_menubutton {
  width: 529px;
}
.dh-form .row .col7 .easyui-uc_numberbox {
  width: 529px;
}
.dh-form .row .col7 .easyui-uc_pickbox {
  width: 529px;
}
.dh-form .row .col7 .easyui-uc_searchbox {
  width: 529px;
}
.dh-form .row .col7 .easyui-uc_spinner {
  width: 529px;
}
.dh-form .row .col7 .easyui-uc_splitbutton {
  width: 529px;
}
.dh-form .row .col7 .easyui-uc_timespinner {
  width: 529px;
}
.dh-form .row .col7 .easyui-uc_tree {
  width: 529px;
}
.dh-form .row .col7 .easyui-uc_treegrid {
  width: 529px;
}
.dh-form .row .col7 .easyui-uc_datagrid {
  width: 529px;
}
.dh-form .row .col7 .easyui-uc_checkboxs {
  width: 529px;
}
.dh-form .row .col7 .easyui-uc_textbox {
  width: 529px;
}
.dh-form .row .col7 .easyui-uc_fuzzybox {
  width: 529px;
}
.dh-form .row .col8 {
  float: left;
  width: 607px;
}
.dh-form .row .col8 .easyui-uc_validatebox {
  width: 607px;
}
.dh-form .row .col8 .easyui-uc_combo {
  width: 607px;
}
.dh-form .row .col8 .easyui-uc_combobox {
  width: 607px;
}
.dh-form .row .col8 .easyui-uc_combogrid {
  width: 607px;
}
.dh-form .row .col8 .easyui-uc_combotree {
  width: 607px;
}
.dh-form .row .col8 .easyui-uc_listbox {
  width: 607px;
}
.dh-form .row .col8 .easyui-uc_numberspinner {
  width: 607px;
}
.dh-form .row .col8 .easyui-uc_percent {
  width: 607px;
}
.dh-form .row .col8 .easyui-uc_dollar {
  width: 607px;
}
.dh-form .row .col8 .easyui-uc_datebox {
  width: 607px;
}
.dh-form .row .col8 .easyui-uc_dateRange {
  width: 607px;
}
.dh-form .row .col8 .easyui-uc_combobox_m {
  width: 607px;
}
.dh-form .row .col8 .easyui-uc_datetimebox {
  width: 607px;
}
.dh-form .row .col8 .easyui-uc_form {
  width: 607px;
}
.dh-form .row .col8 .easyui-uc_linkbutton {
  width: 607px;
}
.dh-form .row .col8 .easyui-uc_menu {
  width: 607px;
}
.dh-form .row .col8 .easyui-uc_menubutton {
  width: 607px;
}
.dh-form .row .col8 .easyui-uc_numberbox {
  width: 607px;
}
.dh-form .row .col8 .easyui-uc_pickbox {
  width: 607px;
}
.dh-form .row .col8 .easyui-uc_searchbox {
  width: 607px;
}
.dh-form .row .col8 .easyui-uc_spinner {
  width: 607px;
}
.dh-form .row .col8 .easyui-uc_splitbutton {
  width: 607px;
}
.dh-form .row .col8 .easyui-uc_timespinner {
  width: 607px;
}
.dh-form .row .col8 .easyui-uc_tree {
  width: 607px;
}
.dh-form .row .col8 .easyui-uc_treegrid {
  width: 607px;
}
.dh-form .row .col8 .easyui-uc_datagrid {
  width: 607px;
}
.dh-form .row .col8 .easyui-uc_checkboxs {
  width: 607px;
}
.dh-form .row .col8 .easyui-uc_textbox {
  width: 607px;
}
.dh-form .row .col8 .easyui-uc_fuzzybox {
  width: 607px;
}
.dh-form .row .col9 {
  float: left;
  width: 685px;
}
.dh-form .row .col9 .easyui-uc_validatebox {
  width: 685px;
}
.dh-form .row .col9 .easyui-uc_combo {
  width: 685px;
}
.dh-form .row .col9 .easyui-uc_combobox {
  width: 685px;
}
.dh-form .row .col9 .easyui-uc_combogrid {
  width: 685px;
}
.dh-form .row .col9 .easyui-uc_combotree {
  width: 685px;
}
.dh-form .row .col9 .easyui-uc_listbox {
  width: 685px;
}
.dh-form .row .col9 .easyui-uc_numberspinner {
  width: 685px;
}
.dh-form .row .col9 .easyui-uc_percent {
  width: 685px;
}
.dh-form .row .col9 .easyui-uc_dollar {
  width: 685px;
}
.dh-form .row .col9 .easyui-uc_datebox {
  width: 685px;
}
.dh-form .row .col9 .easyui-uc_dateRange {
  width: 685px;
}
.dh-form .row .col9 .easyui-uc_combobox_m {
  width: 685px;
}
.dh-form .row .col9 .easyui-uc_datetimebox {
  width: 685px;
}
.dh-form .row .col9 .easyui-uc_form {
  width: 685px;
}
.dh-form .row .col9 .easyui-uc_linkbutton {
  width: 685px;
}
.dh-form .row .col9 .easyui-uc_menu {
  width: 685px;
}
.dh-form .row .col9 .easyui-uc_menubutton {
  width: 685px;
}
.dh-form .row .col9 .easyui-uc_numberbox {
  width: 685px;
}
.dh-form .row .col9 .easyui-uc_pickbox {
  width: 685px;
}
.dh-form .row .col9 .easyui-uc_searchbox {
  width: 685px;
}
.dh-form .row .col9 .easyui-uc_spinner {
  width: 685px;
}
.dh-form .row .col9 .easyui-uc_splitbutton {
  width: 685px;
}
.dh-form .row .col9 .easyui-uc_timespinner {
  width: 685px;
}
.dh-form .row .col9 .easyui-uc_tree {
  width: 685px;
}
.dh-form .row .col9 .easyui-uc_treegrid {
  width: 685px;
}
.dh-form .row .col9 .easyui-uc_datagrid {
  width: 685px;
}
.dh-form .row .col9 .easyui-uc_checkboxs {
  width: 685px;
}
.dh-form .row .col9 .easyui-uc_textbox {
  width: 685px;
}
.dh-form .row .col9 .easyui-uc_fuzzybox {
  width: 685px;
}
.dh-form .row .col10 {
  float: left;
  width: 764px;
}
.dh-form .row .col10 .easyui-uc_validatebox {
  width: 764px;
}
.dh-form .row .col10 .easyui-uc_combo {
  width: 764px;
}
.dh-form .row .col10 .easyui-uc_combobox {
  width: 764px;
}
.dh-form .row .col10 .easyui-uc_combogrid {
  width: 764px;
}
.dh-form .row .col10 .easyui-uc_combotree {
  width: 764px;
}
.dh-form .row .col10 .easyui-uc_listbox {
  width: 764px;
}
.dh-form .row .col10 .easyui-uc_numberspinner {
  width: 764px;
}
.dh-form .row .col10 .easyui-uc_percent {
  width: 764px;
}
.dh-form .row .col10 .easyui-uc_dollar {
  width: 764px;
}
.dh-form .row .col10 .easyui-uc_datebox {
  width: 764px;
}
.dh-form .row .col10 .easyui-uc_dateRange {
  width: 764px;
}
.dh-form .row .col10 .easyui-uc_combobox_m {
  width: 764px;
}
.dh-form .row .col10 .easyui-uc_datetimebox {
  width: 764px;
}
.dh-form .row .col10 .easyui-uc_form {
  width: 764px;
}
.dh-form .row .col10 .easyui-uc_linkbutton {
  width: 764px;
}
.dh-form .row .col10 .easyui-uc_menu {
  width: 764px;
}
.dh-form .row .col10 .easyui-uc_menubutton {
  width: 764px;
}
.dh-form .row .col10 .easyui-uc_numberbox {
  width: 764px;
}
.dh-form .row .col10 .easyui-uc_pickbox {
  width: 764px;
}
.dh-form .row .col10 .easyui-uc_searchbox {
  width: 764px;
}
.dh-form .row .col10 .easyui-uc_spinner {
  width: 764px;
}
.dh-form .row .col10 .easyui-uc_splitbutton {
  width: 764px;
}
.dh-form .row .col10 .easyui-uc_timespinner {
  width: 764px;
}
.dh-form .row .col10 .easyui-uc_tree {
  width: 764px;
}
.dh-form .row .col10 .easyui-uc_treegrid {
  width: 764px;
}
.dh-form .row .col10 .easyui-uc_datagrid {
  width: 764px;
}
.dh-form .row .col10 .easyui-uc_checkboxs {
  width: 764px;
}
.dh-form .row .col10 .easyui-uc_textbox {
  width: 764px;
}
.dh-form .row .col10 .easyui-uc_fuzzybox {
  width: 764px;
}
.dh-form .row .col11 {
  float: left;
  width: 842px;
}
.dh-form .row .col11 .easyui-uc_validatebox {
  width: 842px;
}
.dh-form .row .col11 .easyui-uc_combo {
  width: 842px;
}
.dh-form .row .col11 .easyui-uc_combobox {
  width: 842px;
}
.dh-form .row .col11 .easyui-uc_combogrid {
  width: 842px;
}
.dh-form .row .col11 .easyui-uc_combotree {
  width: 842px;
}
.dh-form .row .col11 .easyui-uc_listbox {
  width: 842px;
}
.dh-form .row .col11 .easyui-uc_numberspinner {
  width: 842px;
}
.dh-form .row .col11 .easyui-uc_percent {
  width: 842px;
}
.dh-form .row .col11 .easyui-uc_dollar {
  width: 842px;
}
.dh-form .row .col11 .easyui-uc_datebox {
  width: 842px;
}
.dh-form .row .col11 .easyui-uc_dateRange {
  width: 842px;
}
.dh-form .row .col11 .easyui-uc_combobox_m {
  width: 842px;
}
.dh-form .row .col11 .easyui-uc_datetimebox {
  width: 842px;
}
.dh-form .row .col11 .easyui-uc_form {
  width: 842px;
}
.dh-form .row .col11 .easyui-uc_linkbutton {
  width: 842px;
}
.dh-form .row .col11 .easyui-uc_menu {
  width: 842px;
}
.dh-form .row .col11 .easyui-uc_menubutton {
  width: 842px;
}
.dh-form .row .col11 .easyui-uc_numberbox {
  width: 842px;
}
.dh-form .row .col11 .easyui-uc_pickbox {
  width: 842px;
}
.dh-form .row .col11 .easyui-uc_searchbox {
  width: 842px;
}
.dh-form .row .col11 .easyui-uc_spinner {
  width: 842px;
}
.dh-form .row .col11 .easyui-uc_splitbutton {
  width: 842px;
}
.dh-form .row .col11 .easyui-uc_timespinner {
  width: 842px;
}
.dh-form .row .col11 .easyui-uc_tree {
  width: 842px;
}
.dh-form .row .col11 .easyui-uc_treegrid {
  width: 842px;
}
.dh-form .row .col11 .easyui-uc_datagrid {
  width: 842px;
}
.dh-form .row .col11 .easyui-uc_checkboxs {
  width: 842px;
}
.dh-form .row .col11 .easyui-uc_textbox {
  width: 842px;
}
.dh-form .row .col11 .easyui-uc_fuzzybox {
  width: 842px;
}
.dh-form .row .col12 {
  float: left;
  width: 920px;
}
.dh-form .row .col12 .easyui-uc_validatebox {
  width: 920px;
}
.dh-form .row .col12 .easyui-uc_combo {
  width: 920px;
}
.dh-form .row .col12 .easyui-uc_combobox {
  width: 920px;
}
.dh-form .row .col12 .easyui-uc_combogrid {
  width: 920px;
}
.dh-form .row .col12 .easyui-uc_combotree {
  width: 920px;
}
.dh-form .row .col12 .easyui-uc_listbox {
  width: 920px;
}
.dh-form .row .col12 .easyui-uc_numberspinner {
  width: 920px;
}
.dh-form .row .col12 .easyui-uc_percent {
  width: 920px;
}
.dh-form .row .col12 .easyui-uc_dollar {
  width: 920px;
}
.dh-form .row .col12 .easyui-uc_datebox {
  width: 920px;
}
.dh-form .row .col12 .easyui-uc_dateRange {
  width: 920px;
}
.dh-form .row .col12 .easyui-uc_combobox_m {
  width: 920px;
}
.dh-form .row .col12 .easyui-uc_datetimebox {
  width: 920px;
}
.dh-form .row .col12 .easyui-uc_form {
  width: 920px;
}
.dh-form .row .col12 .easyui-uc_linkbutton {
  width: 920px;
}
.dh-form .row .col12 .easyui-uc_menu {
  width: 920px;
}
.dh-form .row .col12 .easyui-uc_menubutton {
  width: 920px;
}
.dh-form .row .col12 .easyui-uc_numberbox {
  width: 920px;
}
.dh-form .row .col12 .easyui-uc_pickbox {
  width: 920px;
}
.dh-form .row .col12 .easyui-uc_searchbox {
  width: 920px;
}
.dh-form .row .col12 .easyui-uc_spinner {
  width: 920px;
}
.dh-form .row .col12 .easyui-uc_splitbutton {
  width: 920px;
}
.dh-form .row .col12 .easyui-uc_timespinner {
  width: 920px;
}
.dh-form .row .col12 .easyui-uc_tree {
  width: 920px;
}
.dh-form .row .col12 .easyui-uc_treegrid {
  width: 920px;
}
.dh-form .row .col12 .easyui-uc_datagrid {
  width: 920px;
}
.dh-form .row .col12 .easyui-uc_checkboxs {
  width: 920px;
}
.dh-form .row .col12 .easyui-uc_textbox {
  width: 920px;
}
.dh-form .row .col12 .easyui-uc_fuzzybox {
  width: 920px;
}
.dh-form .row .push0 {
  margin-left: -10px;
}
.dh-form .row .push1 {
  margin-left: 69px;
}
.dh-form .row .push2 {
  margin-left: 147px;
}
.dh-form .row .push3 {
  margin-left: 225px;
}
.dh-form .row .push4 {
  margin-left: 304px;
}
.dh-form .row .push5 {
  margin-left: 382px;
}
.dh-form .row .push6 {
  margin-left: 460px;
}
.dh-form .row .push7 {
  margin-left: 539px;
}
.dh-form .row .push8 {
  margin-left: 617px;
}
.dh-form .row .push9 {
  margin-left: 695px;
}
.dh-form .row .push10 {
  margin-left: 774px;
}
.dh-form .row .push11 {
  margin-left: 852px;
}
