################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/API/.vs
/API/1-Model/obj
/API/1-Model/bin
/API/2-Services/bin
/API/2-Services/obj
*.bak
/API/3-WebAPI/bin
/API/3-WebAPI/Log
/API/3-WebAPI/obj
/API/3-WebAPI/Properties/PublishProfiles
*.user
/API/Common/Cache/ICache/obj
/API/Common/Cache/ICache/bin
/API/Common/Cache/MemcachedCache/obj
/API/Common/Cache/MemcachedCache/bin
/API/Common/Logger/ILogger/obj
/API/Common/Logger/ILogger/bin
/API/Common/Logger/Log4netLogger/obj
/API/Common/Logger/Log4netLogger/bin
/API/Core/Cache/ICache/obj
/API/Core/Cache/ICache/bin
/API/Core/Cache/MemcachedCache/obj
/API/Core/Cache/MemcachedCache/bin
/API/Core/Easy.DataProxy/obj
/API/Core/Easy.DataProxy/bin
/API/Core/Easy.Office/obj
/API/Core/Easy.Office/bin
/API/Core/Easy.SqlConfig/bin
/API/Core/Easy.SqlConfig/obj
/Web/1-content/.sass-cache
/Web/1-content/node_modules
/Web/1-content/test
/API/Core/Logger/ILogger/obj
/API/Core/Logger/ILogger/bin
/API/Core/Logger/Log4netLogger/obj
/API/Core/Logger/Log4netLogger/bin
/API/packages
/API/Logger/ILogger/bin/Debug
/API/Logger/ILogger/obj/Debug
/API/Logger/Log4netLogger/bin/Debug
/API/Logger/Log4netLogger/obj/Debug
